<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" /> 
    </head>
  <section class="wrapper">
    <div class="container">
        <div class="content">
         <body>
            <h2 class="heading"></h2>
           <p>アクセスありがとうございます。</p>
           <p> この度、つながり、学習を記録するアプリを開発しました。</p>
           <p>これから開発の背景を綴ります。</p>
           <p>数年前、心が大きく揺らぎ深く落ち込む出来事がありました。失意の中、一つの出会いから再び歩きだす勇気をもらえました。
            <p>小さな挑戦を続け出会ったコミュニティ。頂いた言葉。</p>
            <p>もっと自分の可能性を広げたい。強く思うようになりました。</p>
    
            <p>先行きが見えず何度も立ち止まることもありました。</p>
            <p>”Nothing can happen to you that is not good for you”</p>
            <p>それでも頂いた言葉を胸に一歩、一歩、前に進めました。</p>
            <p>支えてくれる存在はとても大きいです。力が湧きます。勇気をもらえます。</p>
            <p> 一つの出会いをきっかけに私は少しずつ変われました。</p>

            <p>「年齢に関係なく諦めずに挑戦する勇気と希望を届けたい」</p>
            <p>「 私と似た境遇の人や夢や目標に向かって歩き出す人を応援する場所を作りたい」</p>
            <p> そして、「いつでも再出発できる」アプリ名に込めた思いです。 </p>
           
           
          

            <p>基本的なスキルで作成したアプリですが、多くの方に利用いただけるよう改良を重ねていきます。</p>

   
            <p> 最後に、たくさんの心の支えがあって今があります。</p>
            <p> 植松さん、wein.teamの皆様、山川先生、ヒラノさん、ヨシケンさん、心から感謝しています。</p>
            <p> まだまだ道の途中ですがこれからも、一歩、一歩、着実に前進します。</p>    
        </div>
    </div>
    </section>
  </body>
</html>
