<header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <%= link_to 'ゲストでログイン', '/guest_login', method: :post, class:"btn btn-outline-secondary px-4 me-sm-3" %>
                                 <%= link_to '新規登録', new_user_path, class:"btn btn-outline-primary btn  px-4"  %>
      
      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>