<div class="top-wrapper">
  <div class="top-inner-text">
    <div class="inline-block_test">
     <h1>Re-START</h1>
     
    </div>
    <div class="inline-block_test">
     
      <%= image_pack_tag 'media/images/rocket.jpeg' %>
    </div>
     <%# <i class="fa-solid fa-rocket size"></i> %>
     <%# <%= image_pack_tag 'media/images/logo3.jpg' %> 
  </div>
</div>
