<footer id='footer'>
        <div class="text-right">
         <%= link_to '利用規約', static_pages_terms_of_service_path,  class:"link-secondary" %>
          <%= link_to 'プライバシーポリシー',static_pages_privacy_policy_path,  class:"link-secondary" %>
           <p> ©Re-START <p>
        </div>
      </div>
    </div>
  </div>
</footer>
