.simple-calendar {
 .day {
  border:5px solid whitesmoke;
  height: 100px;
  width: 100px;
 }
 .wday-0 {}
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {}
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
 .has-events {
   background: #cfe6f0;
 }
}
